<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YummyFood4Lyfe"
        tools:targetApi="31" >
        <activity
            android:name=".ui.login.LoginActivity2"
            android:exported="false"
            android:label="@string/title_activity_login2" />
        <activity
            android:name=".activities.ConfirmAddActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoaderActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SplashScreenActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.HomePageActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.SavedRecipeActivity$RecipeActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.SavedRecipeActivity" />
        <activity android:name=".CategoryBreakfast" />
        <activity android:name=".CategoryLunch" />
        <activity android:name=".CategoryDinner" />
        <activity android:name=".CategoryDessert" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>